/* =======================
   ORIGINAL DESKTOP STYLES
======================= */

.values {
  list-style: none;     /* removes black bulletss */
  padding-left: 0;
  margin: 0;
}

.values li {
  margin-bottom: 8px;   /* space between lines */
}


.left {
  width: 500px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}
.left-1 {
  font-size: 35px;
  font-weight: 550;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
  text-decoration-color: #ffd700;
  text-decoration-thickness: 2px;
  text-shadow: 0 0 0 0.8px;
}
.span {
  background: #ffd700;
  color: rgb(66, 63, 63);
  padding: 0;
  margin: 0;
  line-height: 33px;
  vertical-align: baseline;
  display: inline-block;
}

.left-2 {
  font-size: 16px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 3px;
  margin: 0;
  text-shadow: 0 0 0.8px;
  letter-spacing: 2px;
}
.About-container {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.back-home {
  width: 100px;
  height: 40px;
  background-color: #ffd700;
  color: black;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}
.back-home:hover {
  background-color: #ffd900c1;
  text-decoration: underline;
}
.body-container {
  width: 1100px;
  height: 250px;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-top: 0;
}
.About-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(172, 160, 90);
}
.About-body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(172, 160, 90);
  line-height: 30px;
}
.the-rest {
  width: 600px;
  height: auto;         /* allow height to grow with content */
  margin-top: 0;
  margin-left: 200px;
  margin-bottom: 100px;
  padding: 20px;
}

.title-01,
.title-02,
.title-03 {
  font-size: 30px;
  color: rgb(172, 160, 90);
  text-decoration: underline;
}

.body-01,
.body-02,
.body-03 {
  font-size: 20px;
  color: rgb(172, 160, 90);
  margin-bottom: 20px;  /* add spacing after paragraphs */
}

/* Fixed selector for the values list */
.body-03.values {
  list-style: none;       /* remove bullets */
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 40px;    /* more space before footer */
}

.body-03.values li {
  margin-bottom: 8px;     /* space between list items */
}

.footer {
  background-color: #282828;
  color: rgb(172, 160, 90);
   height: 80px;
  text-align: center;
   border-radius: 15px;
   display: flex;
    justify-content: space-between;
   
   /* ensures spacing above footer */
}
.right{
   width: 420px;
   height: 60px;
   display: flex;
   flex-direction: column;
   align-items:center;
}
.email,.phone{
   font-size: 20px;
   margin-bottom:2px;
}

  
/* =======================
   RESPONSIVE ADJUSTMENTS
======================= */
@media (max-width: 1024px) {
  .About-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .body-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
  }

  .the-rest {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .About-heading {
    font-size: 24px;
  }

  .About-body {
    font-size: 16px;
    line-height: 24px;
  }

  .title-01,
  .title-02,
  .title-03 {
    font-size: 22px;
  }

  .body-01,
  .body-02,
  .body-03 {
    font-size: 16px;
  }

  .back-home {
    width: 90px;
    height: 35px;
    font-size: 11px;
  }
}
