/* =======================
   ORIGINAL DESKTOP STYLES
======================= */

.values {
  list-style: none;     /* removes black bullets */
  padding-left: 0;
  margin: 0;
}

.values li {
  margin-bottom: 8px;   /* space between lines */
}




.About-container {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.back-home {
  width: 100px;
  height: 40px;
  background-color: #ffd700;
  color: black;
  border-radius: 15px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}
.back-home:hover {
  background-color: #ffd900c1;
  text-decoration: underline;
}
.body-container {
  width: 1100px;
  height: 250px;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-top: 0;
}
.About-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: rgb(172, 160, 90);
}
.About-body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: rgb(172, 160, 90);
  line-height: 30px;
}
.the-rest {
  width: 600px;
  height: 200px;
  margin-top: 0;
  margin-left: 200px;
  margin-bottom:200px;
}
.title-01,
.title-02,
.title-03 {
  font-size: 30px;
  color: rgb(172, 160, 90);
 text-decoration: underline;
}
.body-01,
.body-02,
.body-03 {
  font-size: 20px;
  color: rgb(172, 160, 90);
}

/* =======================
   RESPONSIVE ADJUSTMENTS
======================= */
@media (max-width: 1024px) {
  .About-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .body-container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
  }

  .the-rest {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  .About-heading {
    font-size: 24px;
  }

  .About-body {
    font-size: 16px;
    line-height: 24px;
  }

  .title-01,
  .title-02,
  .title-03 {
    font-size: 22px;
  }

  .body-01,
  .body-02,
  .body-03 {
    font-size: 16px;
  }

  .back-home {
    width: 90px;
    height: 35px;
    font-size: 11px;
  }
}
